.seccion-1{ /* esto es una clase para asignar color */
   background-color: rgb(0, 186, 192);
   padding: 30px;
   
}
.container-1{
    background-color: rgb(0, 247, 255);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px; 
    width: 1000px;
    border-left: solid rgb(54, 3, 66) 10px; 
    box-shadow: 5px 5px 30px #272727;
}

.seccion-2{
    background-color: rgb(177, 128, 177);
    padding: 30px;
}

.container-2{
    background-color: plum;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px; 
    width: 1000px;
    border-left: solid rgb(54, 3, 66) 10px; 
    box-shadow: 5px 5px 30px #272727;
}

.seccion-3{
    background-color: rgb(207, 131, 96);
    padding: 30px;
}

.container-3{
    background-color: rgb(250, 140, 88);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px; 
    width: 1000px;
    border-left: solid rgb(54, 3, 66) 10px; 
    box-shadow: 5px 5px 30px #272727;
}

.seccion-4{
    background-color: rgb(189, 128, 109);
    padding: 30px;
}

.container-4{
    background-color: rgb(255, 173, 148);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px; 
    width: 1000px;
    border-left: solid rgb(54, 3, 66) 10px; 
    box-shadow: 5px 5px 30px #272727;
}

.seccion-5{
    background-color: rgb(199, 133, 164);
    padding: 30px;
}

.container-5{
    background-color: rgb(255, 169, 209);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px; 
    width: 1000px;
    border-left: solid rgb(54, 3, 66) 10px; 
    box-shadow: 5px 5px 30px #272727;
}

.seccion-6{
    background-color: rgb(124, 112, 194);
    padding: 30px;
}

.container-6{
    background-color: rgb(162, 146, 255);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px; 
    width: 1000px;
    border-left: solid rgb(54, 3, 66) 10px; 
    box-shadow: 5px 5px 30px #272727;
}


 div {
     color: rgb(51, 0, 51);
 }
.texto-remarcado {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    
}

h1 {
    font-style: oblique;
    background-color: purple;
    color: ivory;
    text-align: center;
}

img {
    display: block;
    margin:auto;
    width: 30%; 
    border: 10px solid;
    border-radius: 60px;
    padding: 2px;
    overflow: hidden; 
    box-shadow: 4px 4px 10px  #333333; 
    height: 200px;
}

div{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.block {
    display: block;
    width: 50%;
}

.in-line{
    display: inline;
}

.subrayado{
    text-decoration: underline;
}
