.container  {
    padding: 35px;
}

.card  {
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    height: 550px;
    width: 350px;
}

.header-img {
    max-width: 350px;
}

.content{
    padding: 25px;
}

h1 {
    margin-top: 0px;
}