
li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
   }

/* HOME */

.home{
    height: 500px;
    background-image: url('images/home-bg.jpg');
    background-size: 100% ;
  }
  
  .home h1 {
    margin: 0;
  }