@import "../abstract/variables";
@import "../abstract/mixins";


/* COMIENZO DEL TESTIMONIALS */


.testimonials {
background-color: #ECF5FF;
display: flex;
flex-wrap: wrap;
padding: 0px 0px 60px 0px;
width: 100%;
height: auto;
box-shadow: 15px 0px 15px 0px rgba(0, 0, 0, 0.1);

    .titulotestimonials {
        @include title-h1; 
        justify-content: center;
        margin-top: 45px;
        padding: 15px 15px 40px 15px;
        
        padding-top: 30px;
        @include breakpoint-desktop-1-special {
            max-width: 60%;
            display: block;
            margin: auto;
        }
        @include breakpoint-desktop-2 {
            max-width: 60%;
            display: block;
            margin: auto;
        }
         
    }

    .cajatestimonials{
        max-width: 90%;
        margin: 0px auto;
        width: auto;

        @include breakpoint-tablet {
            display: flex;
            align-items: flex-start;
        } 
        @include breakpoint-tablet-desktop{
            max-width: 75%;
        }
        @include breakpoint-desktop-1-special {
            max-width: 60%;
        }
        @include breakpoint-desktop-2 {
            max-width: 58%;
        }
       
        

        .imgtestimonials{
            max-width: 40%;
            border-radius: 50%;   
            display: block;
            margin: auto;
            border: 6px solid #ffffff;
            @include breakpoint-mobile-2 {
                max-width: 30%;
            } 
            @include breakpoint-tablet {
                max-width: 18%;
                margin: 0px;
                
            } 
            @include breakpoint-desktop-3 {
                max-width: 15%;
                margin: 0px;
            }
        }
            

        .textotestimonials {
            margin: 0px;
            text-align: center;  
            @include breakpoint-tablet {
                flex: 1;
                padding: 10px;
            }         
            
            h3{
                @include title-h3 ($black); 
                font-size: $font-l;
                margin: 5px auto 5px auto;
                @include breakpoint-tablet {
                    flex: 1;
                    padding: 10px;
                    text-align: left;
                    margin: 0px;
                    padding-bottom: 0px;
                }  
                
            }

            h4{
                font-size: 14px;
                color: #999999;
                font-family: $title;
                margin: 0px auto 18px auto;
                font-weight: 200;
                @include breakpoint-tablet {
                    flex: 1;
                    padding: 0px 10px 0px 10px;
                    text-align: left;
                }  
            }
            p{
                @include title-h4($gray); 
                font-size: 16px;
                font-style: italic;
                margin: 0px;
                padding-top: 0px;
                @include breakpoint-tablet {
                    flex: 1;
                    padding: 0px 10px 10px 10px;
                    text-align: left;
                }  
            }
        }         

    }
}



/* FINAL DEL TESTIMONIALS */